
.flashes {
    line-height: 3;
}

.text1{
    font-family: 'Allura', cursive;
    font-size: 50px;
}

.text2 {
    font-family: 'Allura', cursive;
    font-size: 25px;
}

.text3 {
    font-family: 'Allura', cursive;
    font-size: 30px;
}

.collapsible-header{
    margin: 5px;
}

#favouriteBtn {
    background-color: #ffd54f;
    color: white;
}