body {
    background-image: /static/photos/food.png;
}

.flashes {
    line-height: 3;
}

.text1{
    font-family: 'Allura', cursive;
    font-size: 50px;
}

.text2 {
    font-family: 'Allura', cursive;
    font-size: 25px;
}