{% extends "base.html" %}

{% block content %}

<h3 class="amber-text text-lighten-2 center-align text1">Favourites For Later</h3>


  <ul class="collapsible">
  {% for recipe in favourite_recipe %}
    <li>
      <div class="collapsible-header amber lighten-2 white-text">
        <i class="fas fa-caret-down"></i>
        <strong>{{ recipe.recipe_name|upper }} </strong>
      </div>
      <div class="collapsible-body">
         <strong>{{ recipe.category_name }}</strong>
         <p>{{ recipe.ingredients }}</p>
         <p>{{ recipe.method }}</p>
         <p>Preparation time: {{ recipe.time }}</p>
         <p><em>Created By: {{ recipe.created_by }} </em></p>
         
{% endblock %}