{% extends "base.html" %}
{% block content %}


    {% for recipe in Recipe %}
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>
        {{ recipe.time }}<br>
        {{ recipe.favourite }}<br>
    {% endfor %}


  <ul class="collapsible">
    <li>
      <div class="collapsible-header amber lighten-2 white-text"><i class="fas fa-caret-down">One</i></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header amber lighten-2 white-text"><i class="fas fa-caret-down">two</i></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header amber lighten-2 white-text"><i class="fas fa-caret-down">three</i></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

{% endblock %}
