{% extends "base.html" %}
{% block content %}

<h3 class="amber-text text-lighten-2 center-align text1">All Recipes</h3>

<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search') }}" method="POST" class="col s12">
        <div class="valign-wrapper row center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix amber-text text-lighten-2 left"></i>
                <input type="text" name="query" id="query" class="validate" required>
                <label for="query">Search Recipes Online</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_recipes') }}" class="btn red">Reset</a>
                <button class="amber lighten-2 btn" type="submit">
                    <i class="fas fa-search left"></i>Search
                </button>
            </div>
        </div>
    </form>
</div>


{% if Recipe|length > 0 %}
  <ul class="collapsible">
  {% for recipe in Recipe %}
    <li>
      <div class="collapsible-header amber lighten-2 white-text">
        <i class="fas fa-caret-down"></i>
        <strong>{{ recipe.recipe_name|upper }} </strong>
      </div>
      <div class="collapsible-body">
         <strong>{{ recipe.category_name }}</strong>
         <p>{{ recipe.ingredients }}</p>
         <p>{{ recipe.method }}</p>
         <p>Preparation time: {{ recipe.time }}</p>
         <p><em>Created By: {{ recipe.created_by }} </em></p>
         {% if session.user|lower == recipe.created_by|lower %}
         <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small amber lighten-2 text-white center-align">Edit Your Recipe</a>
         <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small amber lighten-2 text-white center-align">Delete Your Recipe</a>
         {% endif %}
         {% if session.user %}
        <a href="{{ url_for('add_favourites', favourite_recipe=Recipe._id) }}" 
        class="btn-small amber lighten-2 text-white center-align">Favourite</a>
         {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h3 class="red-text center-align">No Recipes Found!</h3>
  {% endif %}

{% endblock %}
