{% extends "base.html" %}
{% block content %}

<h3 class="amber-text text-lighten-2 center-align">All Recipes</h3>

  <ul class="collapsible">
  {% for recipe in Recipe %}
    <li>
      <div class="collapsible-header amber lighten-2 white-text">
        <i class="fas fa-caret-down"></i>
        <strong>{{ recipe.recipe_name }} </strong>
      </div>
      <div class="collapsible-body">
         <strong>{{ recipe.category_name }}</strong>
         <p>{{ recipe.ingredients }}</p>
         <p>{{ recipe.method }}</p>
         <p>Preparation time: {{ recipe.time }}</p>
         <p><em>Created By: {{ recipe.created_by }} </em></p>
         {% if session.user %}
         <a href="" class="btn-small amber lighten-2 text-white center-align">Edit Your Recipe</a>
         <a href="" class="btn-small amber lighten-2 text-white center-align">Delete Your Recipe</a>
         {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>

{% endblock %}
